<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Prepagado</title>
</head>
<body>
    <header>
        <h1>Control del Prepagado</h1>
        <nav>
            <a href="index.html">Dashboard</a>
            <a href="control_mensual.html">Control Mensual</a>
            <a href="evolucion_finanzas.html">Evolución finanzas</a>
            <a href="prepagado.html">Prepagado</a>
        </nav>
    </header>
    <main>
        <h2>Total General del Prepagado</h2>
        <p id="total-prepagado">11.236,81 €</p>
        <table>
            <thead>
                <tr>
                    <th>Bolsa</th>
                    <th>Mes</th>
                    <th>Concepto</th>
                    <th>Tipo</th>
                    <th>Importe (€)</th>
                </tr>
            </thead>
            <tbody>
                <!-- Filas de datos se insertarán aquí -->
            </tbody>
        </table>
        <button>Añadir</button>
    </main>
</body>
</html>
